<template>
  <div>
    <div class="card shadow vld-parent">
      <div class="card-header border-0">
        <div class="row align-items-center" style="margin-left=0px; margin-right=0px">
          <div class="col-md-2">
            <h3 class="mb-4" style="float:left">User Details</h3>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <base-button v-b-toggle.collapse-1>Filter Table</base-button>
            <b-collapse id="collapse-1" class="mt-3">
              <b-card>
                <div class="mx-auto">
                  <base-alert
                    type="primary"
                    class="h1 text-center"
                    v-show="filterUpdateShow"
                  >{{filterUpdateMessage}}</base-alert>
                </div>

                <base-input
                  label="Customer Phone"
                  placeholder="2348029518012"
                  v-model="filter.customerPhone"
                  @focus="filterUpdateShow = false"
                />

                <p class="form-control-label mb-1">Is Active</p>
                <div @click="filterUpdateShow = false">
                  <base-radio
                    class="mr-3 text-capitalize d-inline"
                    v-model="filter.isActive"
                    name="true"
                  >True</base-radio>
                  <base-radio
                    class="mr-3 text-capitalize d-inline"
                    v-model="filter.isActive"
                    name="false"
                  >False</base-radio>
                </div>

                <p class="form-control-label mb-1 mt-3">Created At</p>
                <div class="row">
                  <div class="col">
                    <base-input
                      addon-left-icon="ni ni-calendar-grid-58"
                      @focus="filterUpdateShow = false"
                    >
                      <flat-picker
                        slot-scope="{focus, blur}"
                        @on-open="focus"
                        @on-close="blur"
                        placeholder="Select date from"
                        :config="{allowInput: true, mode:'range'}"
                        class="form-control datepicker"
                        v-model="filter.dateRange"
                      ></flat-picker>
                    </base-input>
                  </div>
                  <!-- <div class="col">
                    <base-input
                      addon-left-icon="ni ni-calendar-grid-58"
                      @focus="filterUpdateShow = false"
                    >
                      <flat-picker
                        slot-scope="{focus, blur}"
                        @on-open="focus"
                        @on-close="blur"
                        placeholder="Select date to"
                        :config="{allowInput: true}"
                        class="form-control datepicker"
                        v-model="filter.dateTo"
                      ></flat-picker>
                    </base-input>
                  </div>-->
                </div>

                <div class="text-center">
                  <base-button class="mx-3" @click="clearFilters">Clear Filters</base-button>
                  <base-button class="mx-3" @click="queryForFilter">Filter Records</base-button>
                </div>
              </b-card>
            </b-collapse>
          </div>
        </div>
      </div>

      <!-- <div class="card-body"> -->
      <div class="card-body">
        <base-alert
          type="primary"
          class="text-center"
          v-show="updatedDataCheck"
        >{{updatedDataMessage}}</base-alert>

        <div class="text-center">
          <p>Showing {{((paginationValue-1) * recordsPerPage)+1}} to {{paginationValue * recordsPerPage}} of {{tableTotalRecords}} records</p>
        </div>
        <div class="table-responsive">
          <base-table
            class="table text-center align-items-center table-flush"
            tbody-classes="list"
            :data="tableData"
          >
            <template slot="columns">
              <th v-for="(key,index) in tableDataKeys" :key="index">
                <span class="h5" v-if="key!='updatedAt'">{{key}}</span>
              </th>
            </template>

            <template slot-scope="{row}">
              <td v-for="(key, index) in tableDataKeys" :key="index" :class="key">
                <span v-if="key=='name' && row['name'] == null">NULL</span>
                <span v-else-if="key=='name' && row['name'] != null">{{row[`${key}`]}}</span>
                <span v-if="key!='updatedAt' && key!= 'createdAt' && key!= 'name'">{{row[`${key}`]}}</span>
                <span
                  v-if="key =='createdAt'"
                >{{$moment(row[`${key}`]).format("MMM Do YYYY, h:mm a")}}</span>
              </td>
            </template>
          </base-table>
        </div>
      </div>
      <!-- </div> -->

      <div class="card-footer d-flex justify-content-center">
        <!-- <div @click="fetchNewUser">
          <base-pagination
            :total="tableTotalRecords"
            :perPage="recordsPerPage"
            v-model="paginationValue"
          ></base-pagination>
        </div>-->
        <div class="overflow-auto" @click="makeQueryCall">
          <b-pagination
            v-model="paginationValue"
            :total-rows="tableTotalRecords"
            :per-page="recordsPerPage"
            hide-ellipsis
            limit="7"
            align="center"
          ></b-pagination>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
/* eslint-disable */
import axios from "axios";
import Vue from "vue";
import flatPicker from "vue-flatpickr-component";

// Import component
import Loading from "vue-loading-overlay";
import JsonExcel from "vue-json-excel";
import BootstrapVue from "bootstrap-vue";

// Import stylesheet
import "vue-loading-overlay/dist/vue-loading.css";
import "flatpickr/dist/flatpickr.css";
import "bootstrap/dist/css/bootstrap.css";
import "bootstrap-vue/dist/bootstrap-vue.css";

// Init plugin
Vue.use(Loading);
Vue.use(BootstrapVue);

export default {
  name: "UserDetailsTable",
  components: {
    "download-excel": JsonExcel,
    flatPicker
  },
  data() {
    return {
      paginationValue: 1,
      tableData: [],
      tableDataKeys: "",
      tableTotalRecords: 0,
      recordsPerPage: 10,

      updatedDataCheck: false,
      updatedDataMessage: "",
      filteringMoodOn: false,
      filter: {
        customerPhone: "",
        isActive: null,
        dateFrom: "",
        dateTo: "",
        dateRange: ""
      },
      filterUpdateShow: false,
      filterUpdateMessage: ""
    };
  },
  sockets: {
    //This is where I add the socket events I am listening for
    // welcome(data) {
    //   console.error(data);
    // }
    obtainNewReport(data) {
      if (data.checkUpdate === "no update") {
        this.updatedDataCheck = true;
        this.updatedDataMessage = "Data log is up to date.";

        setTimeout(() => {
          this.updatedDataCheck = false;
          this.updatedDateMessage = "";
        }, 10000);
      } else if (data.checkUpdate === "new update") {
        console.log("Obtained New Report");
        console.log(data);

        this.updatedDataCheck = true;
        this.updatedDataMessage =
          "Updated data log found! Updates have been applied";

        this.tableData = data.dataPosts;
        this.tableDataKeys = data.dataKeys;

        setTimeout(() => {
          this.updatedDataCheck = false;
          this.updatedDateMessage = "";
        }, 10000);
      }
    }
  },
  methods: {
    clearFilters() {
      this.filter.customerPhone = "";
      this.filter.isActive = null;
      this.filter.dateRange = "";
      this.filteringMoodOn = false;
      this.paginationValue = 1;
      this.fetchNewUser();
    },
    makeQueryCall() {
      if (this.filteringMoodOn) {
        let usingPagination = true;
        this.queryForFilter(undefined, usingPagination);
      } else {
        this.fetchNewUser();
      }
    },
    queryBuilder() {
      let query = [];
      if (this.filter.customerPhone != "") {
        let filterObj = {
          name: "customerPhone",
          value: this.filter.customerPhone
        };
        query.push(filterObj);
      }

      if (this.filter.isActive != null) {
        let booleanValue = this.filter.isActive === "true" ? 1 : 0;
        let filterObj = {
          name: "isActive",
          value: booleanValue
        };
        query.push(filterObj);
      }

      if (this.filter.dateRange != "") {
        let splitedDate = this.filter.dateRange.split(" to ");

        let [dateFrom, dateTo] = splitedDate;

        let filterObj = {
          name: "createdAt",
          range: [dateFrom + " 00:00:00", dateTo + " 23:59:59"]
        };
        query.push(filterObj);
      }

      return query;
    },
    queryForFilter(event, usingPagination = false) {
      this.filteringMoodOn = true;
      if (
        this.filter.customerPhone == "" &&
        this.filter.isActive == null &&
        this.filter.dateRange == ""
      ) {
        this.filterUpdateMessage = "Please set at least one filter";
        this.filterUpdateShow = true;
      } else {
        let loader = this.$loading.show({
          loader: "spinner",
          opacity: 0.2
        });

        let query = this.queryBuilder();
        let pageNumber = usingPagination ? this.paginationValue : 1;

        this.$http
          .post(`${process.env.VUE_APP_SOCKET_SERVER}/getUserDetails`, {
            query,
            pagination: {
              limit: this.recordsPerPage,
              page: pageNumber
            },
            sort: [["createdAt", -1]]
          })
          .then(response => {
            console.log("Getting response");
            console.log(response.data);
            this.tableData = response.data.dataPosts;
            this.tableDataKeys = response.data.dataKeys;
            this.tableTotalRecords = response.data.totalDataRecords;
            this.paginationValue = usingPagination ? this.paginationValue : 1;
            loader.hide();
          });
      }
    },
    fetchNewUser() {
      let loader = this.$loading.show({
        loader: "spinner",
        opacity: 0.2
      });
      this.$http
        .post(`${process.env.VUE_APP_SOCKET_SERVER}/getUserDetails`, {
          pagination: {
            limit: this.recordsPerPage,
            page: this.paginationValue
          },
          sort: [["createdAt", -1]]
        })
        .then(response => {
          console.log("Getting response");
          console.log(response.data);
          this.tableData = response.data.dataPosts;
          this.tableDataKeys = response.data.dataKeys;
          this.tableTotalRecords = response.data.totalDataRecords;
          loader.hide();

          // this.updatedDataCheck = true;
          // this.updatedDataMessage =
          //   "Checking for updated data, you may go on with what you are doing. Updates will be applied automatically if found.";
          // //Request for an updated report
          // this.$socket.client.emit("getNewReport");
        });
    }
  }
};
</script>
<style>
</style>