<template>
  <div>
    <div class="card shadow vld-parent">
      <div class="card-header border-0">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="mb-0">Wallet Transaction Logs</h3>
          </div>
          <div class="col-3">
            <base-button>
              <download-excel
                type="csv"
                name="walletReport.csv"
                :data="newTableData"
              >Download Report</download-excel>
            </base-button>
          </div>
        </div>
      </div>

      <div class="table-responsive">
        <base-table
          class="table align-items-center table-flush"
          tbody-classes="list"
          :data="newTableData"
        >
          <template slot="columns">
            <th v-for="(key,index) in newTableDataKeys" :key="index">
              <span class="h5">{{key}}</span>
            </th>
          </template>

          <template slot-scope="{row}">
            <td v-for="(key, index) in newTableDataKeys" :key="index" :class="key">{{row[`${key}`]}}</td>
          </template>
        </base-table>
      </div>

      <div class="card-footer d-flex justify-content-end">
        <div @click="fetchNewUser">
          <base-pagination :total="100" :perPage="10" v-model="paginationValue"></base-pagination>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
/* eslint-disable */
import axios from "axios";
import Vue from "vue";
// Import component
import Loading from "vue-loading-overlay";
import JsonExcel from "vue-json-excel";
// Import stylesheet
import "vue-loading-overlay/dist/vue-loading.css";
// Init plugin
Vue.use(Loading);

export default {
  name: "wallet-table",
  components: {
    "download-excel": JsonExcel
  },
  data() {
    return {
      paginationValue: 1,
      newTableData: [],
      newTableDataKeys: ""
    };
  },
  methods: {
    fetchNewUser() {
      console.log(this.paginationValue);
      let loader = this.$loading.show({
        loader: "spinner",
        opacity: 0.2
      });
      this.$http
        .get(
          `${process.env.VUE_APP_SOCKET_SERVER}/getPosts?range=${this.paginationValue}`
        )
        .then(response => {
          console.log("Getting response");
          console.log(response.data);
          this.newTableData = response.data.dataPosts;
          this.newTableDataKeys = response.data.dataKeys;
          loader.hide();
        });
    },
    setData(data, keys) {
      console.log("Called post route update");
      this.newTableData = data;
      this.newTableDataKeys = keys;
    }
  },
  beforeRouteEnter(to, from, next) {
    axios
      .get(`${process.env.VUE_APP_SOCKET_SERVER}/getPosts?range=1`)
      .then(response => {
        console.log("Getting Post response");
        console.log(response.data);
        let data = response.data.dataPosts;
        let keys = response.data.dataKeys;
        next(vm => vm.setData(data, keys));
      });
  }
};
</script>
<style>
</style>