<template>
  <div>
    <base-header type="gradient-success" class="pb-6 pb-8 pt-5 pt-md-8"></base-header>
    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col">
          <div class="card shadow vld-parent">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Posts Report</h3>
                </div>
              </div>
            </div>

            <div class="table-responsive">
              <base-table
                class="table align-items-center table-flush"
                tbody-classes="list"
                :data="newTableData"
              >
                <template slot="columns">
                  <th v-for="(key,index) in newTableDataKeys" :key="index">
                    <span class="h5">{{key}}</span>
                  </th>
                  <!-- <th>
                    <span class="h5">Name</span>
                  </th>
                  <th>
                    <span class="h5">Email</span>
                  </th>
                  <th>
                    <span class="h5">Phone Number</span>
                  </th>
                  <th>
                    <span class="h5">Company</span>
                  </th>-->
                </template>

                <template slot-scope="{row}">
                  <!-- <th scope="row">
                    <div class="media align-items-center">
                      <a href="#" class="avatar rounded-circle mr-3">
                        <img alt="Image placeholder" :src="row.img" />
                      </a>
                      <div class="media-body">
                        <span class="name mb-0 text-sm">{{row.title}}</span>
                      </div>
                    </div>
                  </th>-->

                  <td
                    v-for="(key, index) in newTableDataKeys"
                    :key="index"
                    :class="key"
                  >{{row[`${key}`]}}</td>
                </template>
              </base-table>
            </div>

            <div class="card-footer d-flex justify-content-end">
              <div @click="fetchNewUser">
                <base-pagination :total="100" :perPage="10" v-model="paginationValue"></base-pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
/* eslint-disable */
import axios from "axios";
import Vue from "vue";
// Import component
import Loading from "vue-loading-overlay";
// Import stylesheet
import "vue-loading-overlay/dist/vue-loading.css";
// Init plugin
Vue.use(Loading);

export default {
  data() {
    return {
      paginationValue: 1,
      newTableData: "",
      newTableDataKeys: ""
    };
  },
  methods: {
    fetchNewUser() {
      console.log("Hello!!");
      console.log(this.paginationValue);
      let loader = this.$loading.show({
        loader: "spinner",
        opacity: 0.2
      });
      this.$http
        .get(
          `${process.env.VUE_APP_SOCKET_SERVER}/getPosts?range=${this.paginationValue}`
        )
        .then(response => {
          console.log("Getting response");
          console.log(response.data);
          this.newTableData = response.data.dataPosts;
          this.newTableDataKeys = response.data.dataKeys;
          loader.hide();
        });
    },
    setData(data, keys) {
      console.log("Called post route update");
      this.newTableData = data;
      this.newTableDataKeys = keys;
    }
  },
  beforeRouteEnter(to, from, next) {
    axios
      .get(`${process.env.VUE_APP_SOCKET_SERVER}/getPosts?range=1`)
      .then(response => {
        console.log("Getting Post response");
        console.log(response.data);
        let data = response.data.dataPosts;
        let keys = response.data.dataKeys;
        next(vm => vm.setData(data, keys));
      });
  }
};
</script>
<style>
</style>