<template>
  <div>
    <base-header type="gradient-success" class="pb-6 pb-8 pt-5 pt-md-8"></base-header>

    <div class="container-fluid mt--7 h-100">
      <div class="row h-100 align-items-center justify-content-center">
        <div class="col-xl-12 order-xl-1">
          <card shadow type="secondary">
            <div class="row h-100 align-items-center justify-content-center">
              <div class="col-xl-4">
                <h2 class="text-dark text-center">ROLES</h2>
                <card shadow type="default">
                  <div>
                    <ul class="nav flex-column nav-pills">
                      <li class="nav-item" v-for="(item,index) in rolesList" :key="index">
                        <h3
                          class="nav-link text-capitalize"
                          @click="activeRole(item.id)"
                        >{{item.roleName}}</h3>
                      </li>
                    </ul>
                  </div>
                </card>
              </div>
              <div class="col-xl-7">
                <h2 class="text-dark text-center">PRIVILEDGES</h2>
                <card shadow>
                  <div v-for="(item,index) in priviledgesList" :key="index">
                    <!-- <input
                      type="checkbox"
                      :name="item.priviledge"
                      :id="item.priviledge"
                      v-model="checkBoxes[`${item.priviledge}`]"
                    />
                    <label :for="item.priviledge">{{item.priviledge}}</label>-->
                    <div @change="handleCheckChanges(item.id)">
                      <base-checkbox
                        class="mb-3 text-capitalize"
                        v-model="checkBoxes[`${item.priviledge}`]"
                      >{{item.priviledge}}------{{`${checkBoxes[`${item.priviledge}`]}`}}</base-checkbox>
                    </div>
                  </div>
                </card>
              </div>
            </div>
            <div class="row h-100 align-items-center justify-content-center mt-4">
              <div class="col-xl-4">
                <badge pill type="success" ref="newRoleAlert" v-show="false">Success</badge>
                <base-input
                  placeholder="Add New Role"
                  v-model="newRoleName"
                  addon-left-icon="fa fa-user-plus"
                  @keyup.enter="insertNewRole"
                  @input="clearAlert"
                ></base-input>
              </div>
              <div class="col-xl-7">
                <badge pill type="success" ref="newPriviledgeAlert" v-show="false">Success</badge>
                <base-input
                  placeholder="Add New Priviledge"
                  v-model="newPriviledgeTitle"
                  addon-left-icon="fa fa-key"
                  @keyup.enter="insertNewPriviledge"
                  @input="clearAlert"
                ></base-input>
              </div>
            </div>
          </card>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable */
export default {
  name: "rolePriviledges",
  data() {
    return {
      rolesList: "",
      priviledgesList: "",
      allRolePriviledges: "",
      activeRoleInView: 1,
      activeRolePriviledges: "",
      checkBoxes: "",
      newRoleName: "",
      newPriviledgeTitle: ""
    };
  },
  methods: {
    fetchRolesList() {
      this.$http
        .get("http://localhost:3000/getRoles")
        .then(response => {
          console.log(response.data);
          this.rolesList = response.data;
        })
        .catch(err => {
          console.error(err);
        });
    },
    fetchPriviledges() {
      this.$http
        .get("http://localhost:3000/getPriviledges")
        .then(response => {
          console.log(response.data);
          this.priviledgesList = response.data;
        })
        .catch(err => {
          console.error(err);
        });
    },
    fetchRolePriviledges() {
      this.$http
        .get("http://localhost:3000/getRolePriviledges")
        .then(response => {
          console.log(response.data);
          this.allRolePriviledges = response.data;
          this.globalAllPriviledges = response.data;
          this.setupPriviledgeView();
        })
        .catch(err => {
          console.error(err);
        });
    },
    clearAlert() {
      this.$refs.newRoleAlert.$el.className = "badge badge-success";
      this.$refs.newRoleAlert.$el.innerHTML = "Success";
      this.$refs.newRoleAlert.$el.style.display = "none";

      this.$refs.newPriviledgeAlert.$el.className = "badge badge-success";
      this.$refs.newPriviledgeAlert.$el.innerHTML = "Success";
      this.$refs.newPriviledgeAlert.$el.style.display = "none";
    },
    insertNewRole() {
      if (this.newRoleName.length > 0) {
        this.$http
          .post("http://localhost:3000/insertNewRole", {
            roleName: this.camelize(this.newRoleName)
          })
          .then(response => {
            console.log(response.data);
            this.fetchRolesList();
            this.newRoleName = "";
          })
          .catch(err => {
            this.$refs.newRoleAlert.$el.className = "badge badge-danger";
            this.$refs.newRoleAlert.$el.innerHTML =
              "Error! Role addon failed. Please try again";
            this.$refs.newRoleAlert.$el.style.display = "";
            this.newRoleName = "";
          });
      } else {
        // alert("Please add a role name");
        console.log(this.$refs.newRoleAlert);
        this.$refs.newRoleAlert.$el.className = "badge badge-danger";
        this.$refs.newRoleAlert.$el.innerHTML =
          "Error! Please input a role name";
        this.$refs.newRoleAlert.$el.style.display = "";
      }
    },
    insertNewPriviledge() {
      if (this.newPriviledgeTitle.length > 0) {
        this.$http
          .post("http://localhost:3000/insertNewPriviledge", {
            priviledgeTitle: this.camelize(this.newPriviledgeTitle)
          })
          .then(response => {
            console.log(response.data);
            this.fetchPriviledges();
            this.newPriviledgeTitle = "";
          })
          .catch(err => {
            this.$refs.newPriviledgeAlert.$el.className = "badge badge-danger";
            this.$refs.newPriviledgeAlert.$el.innerHTML =
              "Error! Priviledge addon failed. Please try again";
            this.$refs.newPriviledgeAlert.$el.style.display = "";
            this.newPriviledgeTitle = "";
          });
      } else {
        this.$refs.newPriviledgeAlert.$el.className = "badge badge-danger";
        this.$refs.newPriviledgeAlert.$el.innerHTML =
          "Error! Please input a priviledge title";
        this.$refs.newPriviledgeAlert.$el.style.display = "";
      }
    },
    checkExistenceOfPriviledge(priviledgeId) {
      let priviledgeCheck = this.allRolePriviledges.filter(item => {
        return (
          item.roleId == this.activeRoleInView &&
          item.priviledgeId == priviledgeId
        );
      });
      console.log(priviledgeCheck);
      return priviledgeCheck;
    },
    checkPriviledgeActiveStatus(priviledgeId) {
      let priviledgeStatus = this.allRolePriviledges.filter(item => {
        return (
          item.roleId == this.activeRoleInView &&
          item.priviledgeId == priviledgeId &&
          item.status == "active"
        );
      });
      return priviledgeStatus;
    },
    handleCheckChanges(priviledgeId) {
      console.log(
        "This is the PriviledgeId: " +
          priviledgeId +
          " and the Activerole is: " +
          this.activeRoleInView
      );

      let arrayCheckForPriviledge = this.checkExistenceOfPriviledge(
        priviledgeId
      );
      //Insert if the arrayCheck is empty
      if (arrayCheckForPriviledge.length == 0) {
        this.insertPriviledgeIntoDb(priviledgeId);
      } else if (arrayCheckForPriviledge.length == 1) {
        console.log("In here!");
        let arrayCheckForPriviledgeActiveStatus = this.checkPriviledgeActiveStatus(
          priviledgeId
        );
        if (arrayCheckForPriviledgeActiveStatus.length == 1) {
          this.disablePriviledgeInDb(priviledgeId);
        } else if (arrayCheckForPriviledgeActiveStatus.length == 0) {
          this.enablePriviledgeInDb(priviledgeId);
        }
      }
    },
    insertPriviledgeIntoDb(priviledgeId) {
      this.$http
        .post("http://localhost:3000/insertIntoRolesPriviledges", {
          userId: this.activeRoleInView,
          priviledgeId,
          status: "active",
          createdAt: this.$moment().format("YYYY-MM-DD HH:mm:ss"),
          updatedAt: this.$moment().format("YYYY-MM-DD HH:mm:ss")
        })
        .then(response => {
          console.log(response);
          this.fetchRolePriviledges();
        })
        .catch(err => {
          console.error(err);
        });
    },
    disablePriviledgeInDb(priviledgeId) {
      this.$http
        .post("http://localhost:3000/updateRolePriviledge", {
          status: "disabled",
          updatedAt: this.$moment().format("YYYY-MM-DD HH:mm:ss"),
          userId: this.activeRoleInView,
          priviledgeId
        })
        .then(response => {
          console.log(response);
          this.fetchRolePriviledges();
        })
        .catch(err => {
          console.error(err);
        });
    },
    enablePriviledgeInDb(priviledgeId) {
      this.$http
        .post("http://localhost:3000/updateRolePriviledge", {
          status: "active",
          updatedAt: this.$moment().format("YYYY-MM-DD HH:mm:ss"),
          userId: this.activeRoleInView,
          priviledgeId
        })
        .then(response => {
          console.log(response);
          this.fetchRolePriviledges();
        })
        .catch(err => {
          console.error(err);
        });
    },
    activeRole(id) {
      console.log("User Id is: " + id);
      this.activeRoleInView = id;

      this.setupPriviledgeView();
    },
    setupPriviledgeView() {
      this.activeRolePriviledges = this.allRolePriviledges.filter(item => {
        return item.roleId == this.activeRoleInView && item.status == "active";
      });

      let disabledRolePriviledges = this.allRolePriviledges.filter(item => {
        return (
          item.roleId == this.activeRoleInView && item.status == "disabled"
        );
      });

      let activeChecks = {};
      if (this.activeRolePriviledges.length > 0) {
        this.activeRolePriviledges.forEach(item => {
          activeChecks[`${item.priviledge}`] = true;
        });
      }
      if (disabledRolePriviledges.length > 0) {
        disabledRolePriviledges.forEach(item => {
          activeChecks[`${item.priviledge}`] = false;
        });
      }

      this.checkBoxes = activeChecks;
      console.log(this.checkBoxes);
    }
  },
  beforeMount() {
    this.fetchRolesList();
    this.fetchPriviledges();
    this.fetchRolePriviledges();
    this.globalSetupUsersPriviledge();
  }
};
</script>

