<template>
  <div>
    <base-header type="gradient-success" class="pb-6 pb-8 pt-5 pt-md-8"></base-header>
    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col">
          <div class="card shadow vld-parent">
            <div class="card-header border-0">
              <div class="row align-items-center" style="margin-left=0px; margin-right=0px">
                <div class="col">
                  <h3 class="mb-4" style="float:left">Payments Report</h3>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <base-button v-b-toggle.collapse-1>Filter Table</base-button>
                  <b-collapse id="collapse-1" class="mt-3">
                    <b-card>
                      <div class="mx-auto">
                        <base-alert
                          type="primary"
                          class="h1 text-center"
                          v-show="filterUpdateShow"
                        >{{filterUpdateMessage}}</base-alert>
                      </div>

                      <div class="row">
                        <div class="col-4">
                          <base-input
                            label="Reference ID"
                            placeholder="ewSgXUUzoMyGkWge9q4R81"
                            v-model="filter.refId"
                            @focus="filterUpdateShow = false"
                          />
                        </div>

                        <div class="col-4">
                          <base-input
                            label="Amount"
                            placeholder="5000"
                            v-model="filter.amount"
                            @focus="filterUpdateShow = false"
                          />
                        </div>
                        <div class="col-4">
                          <base-input label="Status Type">
                            <select
                              class="form-control"
                              v-model="filter.status"
                              @change="filterUpdateShow = false"
                            >
                              <option
                                v-for="(item, index) in transactionStatus"
                                :key="index"
                                class="h4"
                              >{{item}}</option>
                            </select>
                          </base-input>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-4 mx-auto">
                          <base-input label="Created At">
                            <flat-picker
                              slot-scope="{focus, blur}"
                              @on-open="focus"
                              @on-close="blur"
                              placeholder="Select date"
                              :config="{allowInput: true}"
                              class="form-control datepicker"
                              v-model="filter.createdAt"
                              @input="filterUpdateShow = false"
                            ></flat-picker>
                          </base-input>
                        </div>
                      </div>

                      <div class="text-center">
                        <base-button class="mx-3" @click="clearFilters">Clear Filters</base-button>
                        <base-button class="mx-3" @click="queryForFilter">Filter Records</base-button>
                      </div>
                    </b-card>
                  </b-collapse>
                </div>
              </div>
            </div>

            <!-- <div class="card-body"> -->
            <div class="card-body">
              <base-alert
                type="primary"
                class="text-center"
                v-show="updatedDataCheck"
              >{{updatedDataMessage}}</base-alert>

              <div class="text-center">
                <p>Showing {{((paginationValue-1) * recordsPerPage)+1}} to {{paginationValue * recordsPerPage}} of {{tableTotalRecords}} records</p>
              </div>
              <div class="table-responsive">
                <base-table
                  class="table text-center align-items-center table-flush"
                  tbody-classes="list"
                  :data="tableData"
                >
                  <template slot="columns">
                    <th v-for="(key,index) in tableDataKeys" :key="index">
                      <span class="h5">{{key}}</span>
                    </th>
                  </template>

                  <template slot-scope="{row}">
                    <td v-for="(key, index) in tableDataKeys" :key="index" :class="key">
                      <span v-if="key === 'amount'">
                        <span>&#8358;</span>
                        {{formatNumber(row[`${key}`])}}
                      </span>
                      <span v-else-if="key === 'status'" class="text-capitalize">{{row[`${key}`]}}</span>
                      <span
                        v-else-if="key === 'createdAt'"
                      >{{$moment(row[`${key}`]).format("MMM Do YYYY, h:mm a")}}</span>
                      <span v-else>{{row[`${key}`]}}</span>
                    </td>
                  </template>
                </base-table>
              </div>
            </div>
            <!-- </div> -->

            <div class="card-footer d-flex justify-content-center">
              <!-- <div @click="fetchReport">
          <base-pagination
            :total="tableTotalRecords"
            :perPage="recordsPerPage"
            v-model="paginationValue"
          ></base-pagination>
              </div>-->
              <div class="overflow-auto" @click="makeQueryCall">
                <b-pagination
                  v-model="paginationValue"
                  :total-rows="tableTotalRecords"
                  :per-page="recordsPerPage"
                  hide-ellipsis
                  limit="7"
                  align="center"
                ></b-pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
/* eslint-disable */
import axios from "axios";
import Vue from "vue";
import flatPicker from "vue-flatpickr-component";

// Import component
import Loading from "vue-loading-overlay";
import JsonExcel from "vue-json-excel";
import BootstrapVue from "bootstrap-vue";

// Import stylesheet
import "vue-loading-overlay/dist/vue-loading.css";
import "flatpickr/dist/flatpickr.css";
import "bootstrap/dist/css/bootstrap.css";
import "bootstrap-vue/dist/bootstrap-vue.css";

// Init plugin
Vue.use(Loading);
Vue.use(BootstrapVue);

export default {
  name: "UserDetailsTable",
  components: {
    "download-excel": JsonExcel,
    flatPicker
  },
  data() {
    return {
      paginationValue: 1,
      tableData: [],
      tableDataKeys: "",
      tableTotalRecords: 0,
      recordsPerPage: 10,

      updatedDataCheck: false,
      updatedDataMessage: "",
      filteringMoodOn: false,
      filter: {
        refId: "",
        amount: "",
        status: null,
        createdAt: ""
      },
      transactionStatus: [
        "Pending",
        "Processed",
        "Queued",
        "Preauth",
        "Cancelled"
      ],
      filterUpdateShow: false,
      filterUpdateMessage: ""
    };
  },
  sockets: {
    //This is where I add the socket events I am listening for
    // welcome(data) {
    //   console.error(data);
    // }
    obtainNewReport(data) {
      if (data.checkUpdate === "no update") {
        this.updatedDataCheck = true;
        this.updatedDataMessage = "Data log is up to date.";

        setTimeout(() => {
          this.updatedDataCheck = false;
          this.updatedDateMessage = "";
        }, 10000);
      } else if (data.checkUpdate === "new update") {
        console.log("Obtained New Report");
        console.log(data);

        this.updatedDataCheck = true;
        this.updatedDataMessage =
          "Updated data log found! Updates have been applied";

        this.tableData = data.dataPosts;
        this.tableDataKeys = data.dataKeys;

        setTimeout(() => {
          this.updatedDataCheck = false;
          this.updatedDateMessage = "";
        }, 10000);
      }
    }
  },
  methods: {
    clearFilters() {
      this.filter.refId = "";
      this.filter.amount = "";
      this.filter.status = null;
      this.filter.createdAt = "";
      this.filteringMoodOn = false;
      this.paginationValue = 1;
      this.filterUpdateShow = false;
      this.fetchReport();
    },
    makeQueryCall() {
      if (this.filteringMoodOn) {
        let usingPagination = true;
        this.queryForFilter(undefined, usingPagination);
      } else {
        this.fetchReport();
      }
    },
    exludeFromTable(columns, columnArray) {
      return columnArray.filter(item => {
        return !columns.includes(item);
      });
    },
    queryBuilder() {
      let query = [];
      if (this.filter.refId != "") {
        let filterObj = {
          name: "ref",
          value: this.filter.refId
        };
        query.push(filterObj);
      }

      if (this.filter.amount != "") {
        let filterObj = {
          name: "amount",
          value: this.filter.amount
        };
        query.push(filterObj);
      }

      if (this.filter.status != null) {
        let filterObj = {
          name: "status",
          value: this.filter.status.toLowerCase()
        };
        query.push(filterObj);
      }

      if (this.filter.createdAt != "") {
        let filterObj = {
          name: "createdAt",
          range: [
            this.filter.createdAt + " 00:00:00",
            this.filter.createdAt + " 23:59:59"
          ]
        };
        query.push(filterObj);
      }

      return query;
    },
    queryForFilter(event, usingPagination = false) {
      this.filteringMoodOn = true;
      if (
        this.filter.refId == "" &&
        this.filter.amount == "" &&
        this.filter.status == null &&
        this.filter.createdAt == ""
      ) {
        this.filterUpdateMessage = "Please set at least one filter";
        this.filterUpdateShow = true;
      } else {
        let loader = this.$loading.show({
          loader: "spinner",
          opacity: 0.2
        });

        let query = this.queryBuilder();
        let pageNumber = usingPagination ? this.paginationValue : 1;

        this.$http
          .post(
            `${process.env.VUE_APP_SOCKET_SERVER}/getEspiReport?reportType=payments`,
            {
              query,
              pagination: {
                limit: this.recordsPerPage,
                page: pageNumber
              }
              // sort: [["createdAt", -1]]
            }
          )
          .then(response => {
            console.log("Getting response");
            console.log(response.data);
            this.tableData = response.data.dataPosts;
            this.tableDataKeys = this.exludeFromTable(
              ["updatedAt"],
              response.data.dataKeys
            );
            this.tableTotalRecords = response.data.totalDataRecords;
            this.paginationValue = usingPagination ? this.paginationValue : 1;
            loader.hide();
          });
      }
    },
    fetchReport() {
      let loader = this.$loading.show({
        loader: "spinner",
        opacity: 0.2
      });
      this.$http
        .post(
          `${process.env.VUE_APP_SOCKET_SERVER}/getEspiReport?reportType=payments`,
          {
            pagination: {
              limit: this.recordsPerPage,
              page: this.paginationValue
            }
            // sort: [["createdAt", 1]]
          }
        )
        .then(response => {
          console.log("Getting response");
          console.log(response.data);
          this.tableData = response.data.dataPosts;
          this.tableDataKeys = this.exludeFromTable(
            ["updatedAt"],
            response.data.dataKeys
          );
          this.tableTotalRecords = response.data.totalDataRecords;
          loader.hide();

          // this.updatedDataCheck = true;
          // this.updatedDataMessage =
          //   "Checking for updated data, you may go on with what you are doing. Updates will be applied automatically if found.";
          // //Request for an updated report
          // this.$socket.client.emit("getNewReport");
        });
    }
  },
  created() {
    this.fetchReport();
  }
};
</script>
<style>
</style>