<template>
  <div class="header py-7 py-lg-6">
    <div class="row justify-content-center m7-lg-8">
      <div class="col-lg-5 col-md-7">
        <div class="card bg-secondary shadow-lg border-0">
          <div class="card-header bg-transparent pb-3">
            <img
              src="img/fisshboneandlestrlogo.png"
              alt="FisshboneandLestr Logo"
              width="20%"
              height="20%"
              class="img-fluid mx-auto d-block"
            />
            <h1 class="text-center">ESPI BACKOFFICE</h1>
            <!-- <div class="text-muted text-center mt-2 mb-3">
            <small>Sign in with</small>
          </div>
          <div class="btn-wrapper text-center">
            <a href="#" class="btn btn-neutral btn-icon">
              <span class="btn-inner--icon">
                <img src="img/icons/common/github.svg" />
              </span>
              <span class="btn-inner--text">Github</span>
            </a>
            <a href="#" class="btn btn-neutral btn-icon">
              <span class="btn-inner--icon">
                <img src="img/icons/common/google.svg" />
              </span>
              <span class="btn-inner--text">Google</span>
            </a>
            </div>-->
          </div>
          <div class="card-body px-lg-5 py-lg-5">
            <!-- <div class="text-center text-muted mb-4">
            <small>Or sign in with credentials</small>
            </div>-->
            <form role="form">
              <base-input
                class="input-group-alternative mb-3"
                placeholder="Email"
                addon-left-icon="ni ni-email-83"
                v-model="email"
              ></base-input>

              <base-input
                class="input-group-alternative"
                placeholder="Password"
                type="password"
                addon-left-icon="ni ni-lock-circle-open"
                v-model="password"
                @keyup.enter="handleSubmit"
              ></base-input>

              <!-- <base-checkbox class="custom-control-alternative">
                <span class="text-muted">Remember me</span>
              </base-checkbox>-->
              <div class="text-center">
                <base-button type="primary" class="my-4" @click="handleSubmit">Sign in</base-button>
              </div>
            </form>
          </div>
        </div>
        <!-- <div class="row mt-3">
        <div class="col-6">
          <a href="#" class="text-light">
            <small>Forgot password?</small>
          </a>
        </div>
        <div class="col-6 text-right">
          <router-link to="/register" class="text-light">
            <small>Create new account</small>
          </router-link>
        </div>
        </div>-->
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "login",
  data() {
    return {
      email: "",
      password: ""
    };
  },
  methods: {
    handleSubmit(e) {
      e.preventDefault();
      if (this.password.length > 0) {
        this.$http
          .post("http://localhost:3000/login", {
            email: this.email,
            password: this.password
          })
          .then(response => {
            // let is_admin = response.data.user.is_admin;
            localStorage.setItem("jwt", response.data.token);

            if (localStorage.getItem("jwt") != null) {
              this.$emit("loggedIn");
              this.$router.push("services");
            }
          })
          .catch(function(err) {
            alert("User name and password incorrect.\nPlease try again");
            this.password = "";
            // eslint-disable-next-line
            console.error(err);
          });
      } else {
        alert("Please input a password");
      }
    }
  }
};
</script>
<style>
</style>
